$fa-font-path: "../../fonts/font-awesome/" !default;
$icon-font-path: "../../fonts/bootstrap/" !default;
// custom styling
$color-primary: hotpink;
$color-secondary: aquamarine;
$color-booty: #563d7c;
// overwrite variables
// $body-bg: $color-booty;
